<% provide(:title, "Portfolio") %>

<div class="row masonry-container">

		<% @images.each do |image| %>
			<div class="box col-md-4">
				<div class="thumbnail">
					<%= image_tag("#{image.split('/').last}") %>
				</div>
			</div>
		<% end %>


</div>
