<% provide(:title, "Portfolio") %>

<div id="masonry-container" class="row transitions-enabled">

		<% @images.each do |image| %>
			<div class="box col-md-4 col-lg-3">
				<div class="thumbnail">
					<%= image_tag("#{image.split('/').last}") %>
				</div>
			</div>
		<% end %>


</div>
