@import "bootstrap-sprockets";
@import "bootstrap";
@import "masonry/fluid";

/* universal */

body {
}

section {
	overflow: auto;
}

textarea {
	resize: vertical;
}

.center {
	text-align: center;
}

.center h1 {
	margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
	line-height: 1;
}

h1 {
	font-size: 2em;
	letter-spacing: -2px;
	margin-bottom: 30px;
	text-align: center;
}

h2 {
	font-size: 1.2em;
	letter-spacing: -1px;
	margin-bottom: 30px;
	text-align: center;
	font-weight: normal;
	color: #777;
}

p {
	font-size: 1.1em;
	line-height: 1.7em;
}

a:hover {
	text-decoration:none;
}

/* header */

#logo {
	float: left;
	margin-right: 10px;
	font-family: Varela Round, Helvetica, arial, sans-serif;
	font-size: 2em;
	font-weight: 800;
	color: #000;
	text-transform: uppercase;
	letter-spacing: 3px;
	line-height: 1.2em;
	padding-top: 9px;
	font-weight: bold;
}


/* navbar */

.navbar-right a {
	color: #000;
}

/* contact-button */
.btn {
	display: inline-block;
	vertical-align: middle;
	text-align: center;
}

/* footer */

footer {
	margin-top: 45px;
	padding-top: 5px;
	border-top: 2px solid #eaeaea;
	color: #777;
}

footer small {
	float: left;
}

/* images */

img.home_image {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
